# LLM_PROVIDER="ollama"
# LLM_PROVIDER="gemini"
LLM_PROVIDER="anthropic"
OLLAMA_MODEL="llama3.1:8b"
LLM_MAX_WORKERS=3
ANTHROPIC_API_KEY="sk-..."
OPENAI_API_KEY="sk-..."
GEMINI_API_KEY="..."
OPENAI_MODEL="gpt-4.1"
DATABASE_URL="postgresql://postgres:...@postgres:5432/kgserver"
MCP_CONNECT_TIMEOUT=1800
POSTGRES_PASSWORD="..."
REGISTRY="ghcr.io/graphwright"
